doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
    body

        link(rel="stylesheet" type="text/css" href="/dist/main.css")
        script(src="/dist/main.js")